.GameOverScreen {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
}

.GameOverScreen_notActive{
    width: fit-content;
}

.GameOverScreen_title {
    font-size: 4vh;
    line-height: 4vh;
    height: 4vh;
    position: absolute;
    /* выровнять по центру */
    top: 0;
    left: 8vh;
    text-align: center;

    margin: 0 auto;
    margin-top: 21vh;
    color: #f0a830;
}

.gameOverScreen_buttonWrapper {
        position: absolute;
        text-align: center;
        margin-top: 25vh;
        /* выровнять по центру */
        left: 7vh;
}

.gameOverScreen_button {
    background-color: #f0a830;
    display: inline-block;
    width: 30vh;
    height: fit-content;
    line-height: 10vh;
    font-size: 5vh;
    border: none;
    color: white;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.gameOverScreen_button:hover {opacity: 1}

@media (max-width: 600px) {

    .GameField_info_wrapper {
        display: none;
    }
}
