.GameField {
    margin-left: 5vh;
    padding: 1vh;
    display: inline-block;
    position: relative;
    z-index: 0;
    align-items: center;
    width: 75vh;
    height: 95vh;
    border: 4px solid #060606;
    background-color: #185a75;
    outline: none;
}

.GameField_elemPreview {
    width: 100%;
    margin-top: -10%;
}

.GameField_header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1vh;
    width: 73vh;
    height: 6vh;
    box-shadow: 5px 9px 4px rgba(6, 6, 6, 0.65);
    border: 4px solid #060606;
    background-color: #2f2729;
    /*  */
    text-align: center;
    color: #f0a830;
    line-height: 5vh;
    font-size: 5vh;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.GameField_header::before {
    content: "";
    display: inline-block;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin-right: 2vw;
    background-color: #f0a830;
}

.GameField_header::after {
    content: "";
    display: inline-block;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin-left: 2vw;
    background-color: #f0a830;
}

.GameField_info_wrapper {
    display: inline-block;
    position: absolute;
    top: 9.7vh;
    right: 1.5vw;
    width: 12vw;
}

.GameField_score {
    margin-bottom: 1vh;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    min-height: 38px;
    box-shadow: 5px 9px 4px rgba(6, 6, 6, 0.75);
    border: 4px solid #060606;
    background-color: #2f2729;
    /*  */
    text-align: left;
    color: #fcebb6;
    line-height: 3vh;
    font-size: 3vh;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.GameField_nextElemInfo {
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    box-shadow: 5px 9px 4px rgba(6, 6, 6, 0.75);
    border: 4px solid #060606;
    background-color: #2f2729;
    /*  */
    text-align: center;
    color: #fcebb6;
    line-height: 3vh;
    font-size: 3vh;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

@media (max-width: 1000px) {
    .GameField_info_wrapper {
        width: 16vw;
    }
}

@media (max-width: 600px) {

    .GameField {
        width: 94vw;
        height: 96vh;
        margin-left: 0;
    }

    .GameField_header {
        width: 84vw;
    }

    .GameField_info_wrapper {
        width: 23vw;
        margin-right: 3vw;
    }
}

@media (max-width: 415) {

    .GameField_score {
        font-size: 10px;
    }
    .GameField_nextElemInfo {
        font-size: 10px;
    }
}

@media (max-width: 360px) {

    .GameField_info_wrapper {
        width: 19vw;
    }

}

@media (max-width: 320px) {

    .GameField_info_wrapper {
        display: none
    }

}