.Information {
    color: white;
    width: 100%;
}

.gameInfo_header {
    color: white;
}

.gameInfo_li {
    color: white;
    display: flex;
    margin: 2vh 0;
    align-items: center;
}

.gameInfo_li::before {
    content: '';
    background-color: white;
    width: 0.5vw;
    height: 0.5vw;
    margin-right: 1vw;
    border-radius: 50%;
}

.gameInfo_arrows_img {
    width: 10vw;
    margin-left: 1vw;
}

.gameInfo_wrapper {
    display: inline-block;
    width: 38vw;
    max-height: 98vh;
    margin: 0 2vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.gameInfo_wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.gameInfo_wrapper::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.gameInfo_wrapper::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

@media (max-width: 600px) {
    .gameInfo_wrapper {
        display: none;
    }
}